$color-gray: #F5F5F5;
$color-white: #FFFFFF;
$color-black: #0B0A0C;
$color-button-red: #C2110E;
$color-benefits-bc: #E2D8D0;
$color-product-details-bc: #F9E8E7;
$color-greens-product-bc: #E8F7EB;
$color-greens-product-title: #12A637;
$color-icons-fill: #C2110E;


